CompileFlags:
  Add:
    - "-std=c++17"
    - "-D__mfp8=unsigned char"
    - "-isysroot"
    - "/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk"
    - "-iframework"
    - "/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/System/Library/Frameworks"
  Remove:
    - "-W*"

Diagnostics:
  Suppress:
    - "misc-unused-alias-decls"
