[submodule "lib/JUCE"]
	path = lib/JUCE
	url = https://github.com/juce-framework/JUCE.git
	branch = master
[submodule "lib/chowdsp_wdf"]
	path = lib/chowdsp_wdf
	url = https://github.com/Chowdhury-DSP/chowdsp_wdf.git
